@media screen and (max-width: 500px) {
  #navUserMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: fixed;
    z-index: 1;
    bottom: 0;
    padding: 1rem;
    width: 100vw;
    height: 4.5rem;
    background-color: #1a202c;
  }
  #navVisitorMobile {
    position: fixed;
    z-index: 1;
    bottom: 0;
    padding: 1rem;
    width: 100vw;
    height: 4.5rem;
    background-color: #1a202c;
  }
  #navUserMobile img {
    width: 2.5rem;
  }
  #navVisitorMobile img {
    position: absolute;
    width: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #navUserMobile img:hover,
  #navVisitorMobile img:hover{
    filter: brightness(0) saturate(100%) invert(94%)
    sepia(13%) saturate(319%) hue-rotate(69deg)
    brightness(106%) contrast(101%);
  }
  .nav__separator--top {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    height: 0.3rem;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #48bb78;
  }
  .drawer__seperator--top{
    position: absolute;
    z-index: inherit;
    top: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33.33%;
    height: 0.3rem;
    border-radius: 3rem;
    background-color: #48bb78;
  }
  .drawer_img--position{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;

  }
  .drawer_img--position img{
    width: 1.2rem;
  }
}

@media screen and (min-width: 501px) {
  #navVisitorMobile,
  #navUserMobile,
  .nav__separator--green,
  .drawer_img--position  {
    display: none;
  }
}