@media screen and (min-width: 501px) {
  .body__bg--gray {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: rgba(160, 174, 192, 0.5);
  }

  #modalRegister,
  #modalLogin {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal {
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: #1a202c;
  }

  .modal__img {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal__btn--close {
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.25s ease;
    margin: -0.4rem -0.4rem 0 0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #48bb78;
    cursor: pointer;
  }

  .modal__btn--close:hover {
    transform: translate(-0.35rem, 0.4rem);
  }

  .modal__form {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal__form button {
    position: absolute;
    left: 1rem;
    margin: 1rem -1rem;
    background-color: #48bb78;
    color: #f0fff4;
    border-radius: 0.5rem;
  }

  .modal__form button:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #modalRegister,
  #modalLogin {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1a202c;
  }

  .modal__img {
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: 2;
    width: 18rem;
    transform: translate(-50%, -50%);
  }

  .modal__btn--close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.25rem 0.5rem;
    border-bottom-left-radius: 1rem;
    background-color: #48bb78;
    cursor: pointer;
  }

  .modal__form {
    position: absolute;
    top: 22rem;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .modal__form button {
    position: absolute;
    left: 1rem;
    margin: 1rem -1rem;
    background-color: #48bb78;
    color: #f0fff4;
    border-radius: 0.5rem;
  }

  .modal__form button:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }
}
