#navVisitorDesktop,
#navUserDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

#navVisitorDesktop img,
#navUserDesktop img:nth-child(1) {
  width: 15rem;
}

.nav__buttons,
.nav__links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.nav__icons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 7rem;
}

.nav__icons img:hover {
  filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(319%)
    hue-rotate(69deg) brightness(106%) contrast(101%);
}

.nav__icons a {
  position: relative;
}

.nav__icons p {
  display: none;
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 3rem;
  width: 6.5rem;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  background-color: #f0fff4;
  color: #1a202c;
}

.nav__icons a:hover > p {
  display: block;
}

.nav__buttons button,
.nav__menu a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #48bb78;
}

.nav__buttons button:hover,
.nav__menu a:hover {
  color: #f0fff4;
}

.nav__separator--bottom {
  position: relative;
  bottom: 0.31rem;
  height: 0.3rem;
  width: 100%;
  background-color: #48bb78;
}

/* Responsive design */

@media screen and (max-width: 660px) {
  .nav__menu {
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  #navUserDesktop img:nth-child(1) {
    width: 12rem;
  }
}

@media screen and (max-width: 620px) {
  .nav__links {
    gap: 1rem;
  }
  .nav__links a {
    font-size: 1rem;
  }
  .nav__icons {
    gap: 1rem;
    width: 5rem;
  }
}

@media screen and (max-width: 545px) {
  .nav__buttons {
    gap: 1rem;
  }
  .nav__buttons button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  #navVisitorDesktop,
  #navUserDesktop {
    justify-content: center;
  }
  #navUserDesktop img:nth-child(1) {
    justify-content: center;
    width: 15rem;
  }
  .nav__buttons,
  .nav__menu {
    display: none;
  }
  .nav__separator--bottom {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 3rem;
  }
}
